*{
	box-sizing: border-box;
	
}


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #FFB6B9 50%, #A6B4CE 50%);  
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}


h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*backgroud color changing code retrived from https://codepen.io/chris22smith/pen/RZogMa*/


.bio{
  padding:9em;
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;

}

.bio>h1{
	font-family: 'Fredericka the Great', cursive;
	font-size: 45px;
	color:black;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/*text animation code retrived from https://codepen.io/FrankieDoodie/pen/dgVGad*/

.bio>h2{
	font-family: 'Lora', serif;
	
}



.introduce{
  width:60%;
   text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.main2{
 
 background-color:#F3DCD3 ;
}


/*color code retirved from https://webgradients.com/*/

.journey{
  margin-bottom: 0;
  padding:5em;
  margin-top: 10em;
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  


}

.journey>h1{
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
  color:black;

}

.journey>h2{
  font-family: 'Lora', serif;
  margin-top: 2em;
  
}
 

.row {
  display: flex;
  flex-wrap: wrap;

  /*padding: 6em;*/
  padding-bottom: 2em;
}


/* three equal columns */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 2em;
}

.column img {
  margin-top: 1em;
  vertical-align: middle;
  width: 100%;
}

.prodcontainer {
  position: relative;
  width: 100%;
}

.prodimage {
  display: block;
}

.prodcontainer:hover{
	opacity: .50;
}







