*{
	box-sizing: border-box;

	
}


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #FFB6B9 50%, #A6B4CE 50%); 
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}


h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*backgroud color changing code retrived from https://codepen.io/chris22smith/pen/RZogMa*/


.bio{
  padding:12em;
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;

}

.bio>h1{
	font-family: 'Fredericka the Great', cursive;
	font-size: 45px;
	color:black;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/*text animation code retrived from https://codepen.io/FrankieDoodie/pen/dgVGad*/

.bio>p{
	font-family: 'Lora', serif;
  margin-top: 1em;
	
}



.introduce{
  width:60%;
   text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.main2{
 
 background-color:#F3DCD3 ;
}


/*color code retirved from https://webgradients.com/*/

.journey{
  margin-bottom: 0;
  padding:5em;
  margin-top: 10em;
  text-align: left;
  display:block;
  margin-left: auto;
  margin-right: auto;
  


}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.journey>h1{
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
  color:black;

width: calc(0.55em * 14); 
width: 14ch;
white-space: nowrap;
overflow: hidden;
-webkit-animation: typing 8s steps(14, end) infinite,
           blink-caret .5s step-end infinite alternate;

}

/*typing animation retirved from https://codepen.io/omidgharib/details/IqdLj*/

.journey>h2{
  font-family: 'Lora', serif;
  margin-top: 2em;

  
}
 

.row {
  display: flex;
  flex-wrap: wrap;

  /*padding: 6em;*/
  padding-bottom: 2em;
}


/* three equal columns */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 2em;
}

.column img {
  margin-top: 1em;
  vertical-align: middle;
  width: 100%;
}

.prodcontainer {
  position: relative;
  width: 100%;
}

.prodimage {
  display: block;
}

.prodcontainer:hover{
	opacity: .50;
}


@media (max-width: 1200px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 4em;
    padding-top: 0;
  }

  .bio{
    padding:10em;
  }
}

@media (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 4em;
    padding-top: 0;
  }
}




@media (max-width: 800px) {
.main{
  margin:30px;
}

.introduce{
  width:80%;
  }

  }

/* media query, one column */
@media (max-width: 700px) {
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0;
  }

  .bio>p{
    font-size: 20px;
  }

  .bio>h1{
    letter-spacing: 1px;
    background-size: 70%;
  }

  
  .introduce{
  margin-top: 0;
  width:85%;
  }
}

@media (max-width: 680px) {


.bio>h1{
    letter-spacing: 0px;
    background-size: 70%;
  }


}


@media (max-width: 670px) {
.bio>h1{
 position: absolute;
margin-left: auto;
  left: 25%;
  
    letter-spacing: 0px;
    background-size: 70%;
  }


  .bio>p{

    font-size: 15px;
    margin-top: 7rem;
  }

  .introduce{
  margin-top: 0;
  width:70%;
  }

}




@media (max-width: 600px) {


  
  .bio>p{

    font-size: 15px;
  }

  .introduce{
  margin-top: 0;
  width:85%;
  }

  .journey>h2{
    font-size: 20px;
  }
}


@media (max-width: 520px) {


  .bio>h1{
    left: 20%;
  }

  .bio>p{

  position: absolute;
   left: 25%;

  }

  .introduce{
  margin-top: 5rem;
  width:90%;
  }
}


@media (max-width: 470px) {
.journey>h2{
    font-size: 15px;
  }

  }


  @media (max-width: 450px) {

    .bio>h1{
    left: 18%;
  }
.bio>p{

  position: absolute;
   left: 23%;

  }

  main{
    margin:25px;
  }

  }


  @media (max-width: 420px) {

    .bio>h1{
    left: 15%;
  }
.bio>p{

  position: absolute;
   left: 20%;

  }

    main{
    margin:20px;
  }
  .introduce{
    margin-top: 10em;
    font-size: 15px;
  }

}


@media (max-width: 400px) {

  .bio>h1{
    font-size: 40px;
  }

  main{
    margin:10px;
  }
  

  .introduce{
    margin-top: 10em;
    font-size: 12px;

    
    
  }

  .journey>h2{
    font-size: 13px;
  }

}


@media (max-width: 360px) {

main{
    margin:0px;
  }

  .introduce{
   width:80%;
   margin-bottom: 5em;
   margin-top: 8em;
  }

  .journey>h2{
    font-size: 10px;
  }

  .bio{
    padding:9em;
  }

  .bio>h1{
    left: 9%;
  }

.bio>p{

  position: absolute;
   left: 15%;

  }

  

.journey{
  margin-top: 0;
}

  }


  @media (max-width: 300px) {
.bio{
    padding:8em;
  }

  .bio>p{
    font-size: 1em;

  position: absolute;
   left: 8%;

  }

.journey>h1{
    font-size: 20px;
  }

  .introduce{
    font-size: 10px;
    margin-bottom: 3em;
  }



}







