*{
 box-sizing: border-box;
 /*border:red solid 1px;*/

}

main{
 margin:50px;

}

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

body{
 background-color: #F3DCD3;
}


nav{
 margin:3rem;
 
}

nav ul{
  display:flex;
  list-style-type:none;
  margin:0;
  padding:0;
  justify-content: flex-end;
}

nav ul li{
  margin-left:3rem;
  font-size: 25px;
}

nav ul li a{
 text-decoration:none;
 list-style-type:none;
 color:black;
 font-family: 'Lora', serif;
 display:inline-block;
 position:relative;

 
}

/*code learned from https://stackoverflow.com/questions/32902163/line-through-animation-when-hovered*/

nav ul li a::after {
  content: '';
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  width: 100%;
  right: 0;
  height: 10%;
  background: currentColor;
  transition:width 0.25s ease;
  color:#ffb6b9;

}

nav ul li a:hover::after {
  width: 0;
}

/*font refered from https://fonts.google.com/specimen/Acme?sidebar.open=true&selection.family=Acme*/




footer{
 margin:0 2em;
 text-align: center;
}

footer ul li a{
 text-decoration:none;
 list-style-type:none;
 color:black;
 font-family: 'Lora', serif;
 
}


footer ul li{
 display:inline-block;
 list-style-type:none;
 text-align:center;
 
}


footer ul li a:hover, footer ul li a:focus {
  background-color: #ffb6b9;
}
/*code learned from https://stackoverflow.com/questions/24727335/add-a-line-under-the-text-when-hover-in-css*/