*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
  background-color: #F3DCD3;
}

/*Change the default font.*/

header{
  font-family: 'Lora', serif;
  background-image: linear-gradient(120deg, #FFB6B9 0%, #A6B4CE 100%);

}

header>h1{
  font-family: 'Lora', serif;
  padding-top: 1.5em;
  margin-bottom:1.5em;
  padding-left: 0.8em;
}


header>.nav1{
  font-family: 'Lora', serif;
  background-color: #F3DCD3;
  font-size: 1.2em;
}


nav a:hover, nav a:focus {
  text-decoration: none;
}

.nav1 a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  color:black;
}

.nav1 a:hover, .nav1 a:focus {
  background-color: #ffb6b9;
}



.element {
  margin-top:1.5rem;
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

/*----------some basic components-----------*/

h1{
  font-family: 'Fredericka the Great', cursive;
  padding-left: 1rem;
}

h2 {
  font-family: 'Lora', serif;
  margin-top: 2rem;
  
}

h3 {
  font-family: 'Fredericka the Great', cursive;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  
  
}

h4 {
  font-family: 'Lora', serif;
  margin-top:0.3em;
  
}

h5{
  font-family: 'Roboto', sans-serif;
}

h6{
  font-family: 'Crimson Text', serif;
}




code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}


.font1{
   font-family: 'Fredericka the Great', cursive;
   font-size: 50px;
}

.font2{
  font-family: 'Lora', serif;
  font-size: 50px;
}

.font3{
  font-family: 'Lora', serif;
  font-size: 50px;
}

.font4{
  font-family: 'Crimson Text', serif;
  font-size: 50px;
}

.block{
  border:black 1px solid;
  margin-top: 1em;
}

.color1 {
  padding: 20px;
  display: block;
  background-color: #F3DCD3;
}

.color2 {
  padding: 20px;
  display: block;
  background-color: #FFB6B9;
}

.color3 {
  padding: 20px;
  display: block;
  background-color: #BBDED6;
}

.color4 {
  padding: 20px;
  display: block;
  background-color: #8AC6D1;
}

.color5 {
  padding: 20px;
  display: block;
  background-color: #A6B4CE;
}

.color6 {
  padding: 20px;
  display: block;
  background-image: linear-gradient(120deg, #FFB6B9 0%, #A6B4CE 100%);
}
/*color code retireved from https://webgradients.com/*/



/* 
  INTERACTIVE ELEMENTS -------------------
*/


section{
  margin-top: 2.5rem;

  
}

.inlinetext:hover{
  background-color: #ffb6b9;
}

section a{
  text-decoration: none;
  color:black;
}



/*code learned from https://stackoverflow.com/questions/32902163/line-through-animation-when-hovered*/



.list{
  margin-left:1.5rem;
  list-style-type: upper-roman;
}


/*Style the Radio Button, code learned from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/





/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: black;
  background-color: #A6B4CE;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  margin-top: 1em;
}

.button-nav:hover, .button-nav:focus {
  background-color: #ffb6b9;
  color:black;
}



.myimage{
  margin-top: 1.5em;
  width:60px;
  height:60px;
}



/* 
  TEXT ELEMENTS -------------------
*/

p {
  font-family: 'David Libre', serif;
  margin-top: 0;
  
}

p.para{
  width:50%;
}

/*Shorten the default width of the <p> element, but ensure it is still responsive when the viewport shrinks.*/

.bio>h1{
  margin-top: 1em;
  font-family: 'Fredericka the Great', cursive;
  font-size: 45px;
  color:black;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/*text animation code retrieved from https://codepen.io/FrankieDoodie/pen/dgVGad*/

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.journey>h2{
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
  color:black;
  margin-left: 0.8em;

width: calc(0.55em * 14); 
width: 14ch;
white-space: nowrap;
overflow: hidden;
-webkit-animation: typing 5s steps(14, end) infinite,
           blink-caret .5s step-end infinite alternate;

}

/*typing animation retireved from https://codepen.io/omidgharib/details/IqdLj*/

/* 
  COMBINED ELEMENTS -------------------
*/



.element>.nav3{
  margin:3em;
  
}


nav ul li{
 display:inline-block;
 list-style-type:none;
 width:100px;
 text-align:center;
 float:left;
 font-size: 25px;
}

nav ul a{
  font-family: 'Lora', serif;
}

nav ul a:hover {
    text-decoration: underline;
}

/*add a line under text code learned from https://stackoverflow.com/questions/24727335/add-a-line-under-the-text-when-hover-in-css*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 6em;
  padding-bottom: 2em;
}


/* three equal columns */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 2em;
}

.column img {
  margin-top: 2em;
  vertical-align: middle;
  width: 100%;
}



footer{
    position:relative;
    bottom:0;

 text-align: center;
background-image: linear-gradient(120deg, #FFB6B9 0%, #A6B4CE 100%);

 padding:2em;
 
}

/*color code retireved from https://webgradients.com/*/

footer a{
 text-decoration:none;
 
 color:black;
 font-family: 'Lora', serif;
 
}


footer p{
 display:inline-block;
 list-style-type:none;
 text-align:center;
 
}


footer p a:hover, footer p a:focus {
  background-color: #ffb6b9;
}





.prodcontainer {
  position: relative;
  width: 100%;
}

.prodimage {
  display: block;
}

.prodcontainer:hover{
  opacity: .50;
}



/*image gallery code learned from https://codepen.io/GeorgePark/pen/vdqYom*/

 .workcontainer {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;

}





.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}

.gallery-item {
  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}


@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}


.ccolumn {
  width: 50%;
  padding: 50px;
  text-align: left;
}


/*css for input learned from
https://www.w3schools.com/howto/howto_css_contact_form.asp*/
input[type=text], select, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

input:hover {
  background-color: #ffdcd6;
  transition: .3s;
}


.contactsubmit {
  display: inline-block;

  padding: 0.5rem;
  width:10em;

  color: black;
  background-color: #A6B4CE;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  margin-top: 3em;
}

.contactsubmit:hover, .contactsubmit:focus {
  background-color: #ffb6b9;
  color:black;
}



.submitbutton{
  text-align: center;
}




@media screen and (max-width: 1200px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 4em;
    padding-top: 0;
  }

  }


  @media screen and (max-width: 1000px) {
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0;
  }

}


@media screen and (max-width: 700px) {
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 520px) {

.gallery {
    
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    
  }


}
