*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
  background-color: #F3DCD3;
}

/*Change the default font.*/

header{
  font-family: 'Lora', serif;
  background-color:  #ffb6b9;

}

header>h1{
  font-family: 'Lora', serif;
  padding-top: 1.5em;
  margin-bottom:1.5em;
  padding-left: 0.8em;
}


header>.nav1{
  font-family: 'Lora', serif;
  background-color: #F3DCD3;
  font-size: 1.2em;
}


nav a:hover, nav a:focus {
  text-decoration: none;
}

.nav1 a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  color:black;
}

.nav1 a:hover, .nav1 a:focus {
  background-color: #ffb6b9;
}



.element {
  margin-top:1.5rem;
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

/*----------some basic components-----------*/

h1{
  font-family: 'Fredericka the Great', cursive;
  padding-left: 1rem;
}

h2 {
  font-family: 'Lora', serif;
  margin-top: 2rem;
  
}

h3 {
  font-family: 'Fredericka the Great', cursive;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  
  
}

h4 {
  font-family: 'Lora', serif;
  margin-top:0.3em;
  
}

h5{
  font-family: 'Roboto', sans-serif;
}

h6{
  font-family: 'Roboto', sans-serif;
}




code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}


.font1{
   font-family: 'Fredericka the Great', cursive;
   font-size: 50px;
}

.font2{
  font-family: 'Lora', serif;
  font-size: 50px;
}

.font3{
  font-family: 'Lora', serif;
  font-size: 50px;
}

.block{
  border:black 1px solid;
  margin-top: 1em;
}

.color1 {
  padding: 20px;
  display: block;
  background-color: #F3DCD3;
}

.color2 {
  padding: 20px;
  display: block;
  background-color: #FFB6B9;
}

.color3 {
  padding: 20px;
  display: block;
  background-color: #BBDED6;
}

.color4 {
  padding: 20px;
  display: block;
  background-color: #8AC6D1;
}

.color5 {
  padding: 20px;
  display: block;
  background-color: #A6B4CE;
}



/* 
  INTERACTIVE ELEMENTS -------------------
*/


section{
  margin-top: 2.5rem;

  
}

.inlinetext:hover{
  background-color: #ffb6b9;
}

section a{
  text-decoration: none;
  color:black;
}



/*code learned from https://stackoverflow.com/questions/32902163/line-through-animation-when-hovered*/



.list{
  margin-left:1.5rem;
  list-style-type: upper-roman;
}


/*Style the Radio Button, code learned from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/





/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: black;
  background-color: #A6B4CE;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  margin-top: 1em;
}

.button-nav:hover, .button-nav:focus {
  background-color: #ffb6b9;
  color:black;
}



.myimage{
  width:22vw;
  height:50vh;
}

.myimage:hover{
  opacity: .50;
}


/* 
  TEXT ELEMENTS -------------------
*/

p {
  font-family: 'David Libre', serif;
  margin-top: 0;
  
}

p.para{
  width:50%;
}

/*Shorten the default width of the <p> element, but ensure it is still responsive when the viewport shrinks.*/



/* 
  COMBINED ELEMENTS -------------------
*/



.element>.nav3{
  margin:3em;
  
}

nav ul li a{
 text-decoration:none;
 list-style-type:none;
 color:black;
 font-family: 'Lora', serif;
 display:inline-block;
 position:relative;

 
}

/*code learned from https://stackoverflow.com/questions/32902163/line-through-animation-when-hovered*/

nav ul li a::after {
  content: '';
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  width: 100%;
  right: 0;
  height: 10%;
  background: currentColor;
  transition:width 0.25s ease;
  color:#ffb6b9;

}

nav ul li a:hover::after {
  width: 0;
}

/*font refered from https://fonts.google.com/specimen/Acme?sidebar.open=true&selection.family=Acme*/

nav ul li{
 display:inline-block;
 list-style-type:none;
 width:100px;
 text-align:center;
 float:left;
 font-size: 25px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 6em;
  padding-bottom: 2em;
}


/* three equal columns */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 2em;
}

.column img {
  margin-top: 2em;
  vertical-align: middle;
  width: 100%;
}

.example {
        position: relative;
        padding: 0;
        width: 300px;
        display: block;
        cursor: pointer;
        overflow: hidden;
      }
.content {
  font-family: 'Fredericka the Great', cursive;
        opacity: 0;
        font-size: 30px;
        position: absolute;
        top: 0;
        left: 0;
        color: #EA86A4;
        background-color: rgba(200, 200, 200, 0.5);
        width: 300px;
        height: 300px;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
      }
.example .content:hover {
        opacity: 1;
      }
 .example .content .text {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
.example .content:hover .text {
        opacity: 1;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
      }


/*code learned from https://www.w3docs.com/snippets/css/how-to-display-an-animated-text-over-an-image-on-hover-using-only-css3.html*/

footer{
  margin:0 2em;
  text-align: center;
}

footer ul li a{
 text-decoration:none;
 list-style-type:none;
 color:black;
 font-family: 'Lora', serif;
 
}


footer ul li{
 display:inline-block;
 list-style-type:none;
 text-align:center;
 
}


footer ul li a:hover, footer ul li a:focus {
  background-color: #ffb6b9;
}

.prodcontainer {
  position: relative;
  width: 100%;
}

.prodimage {
  display: block;
}

.prodcontainer:hover{
  opacity: .50;
}


